Package: com.alex.bluetoothname
Name: Bluetooth Name in Settings
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Your Bluetooth Device Name in Settings!
Maintainer: Alexandre <alexandre31.tweak@gmail.com>
Author: Alexandre <alexandre31.tweak@gmail.com>
Section: Tweaks
Version: 1.1-8
Installed-Size: 69
